@using Core.Model;
@model Product
<div>
    @using (Html.BeginForm("EditProduct", "Product"))
    {
        <a onclick=" document.getElementById('edit').style.display = 'none'; return false;" title="Close" class="close">X</a>

        <input type="hidden" name="Id" value="@Model.Id" />
        <div>
            <h2>@Model.Name</h2>
        </div>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(p => p.Info)
                </td>
                <td>
                    @Html.TextAreaFor(p => p.Info, new { @class = "textarea" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(p => p.Category)
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Category, new { @class = "text" })
                </td>
            </tr>
        </table>
    <input type="submit" value="Edit" class="submit" />
    }
</div>



