@using Core.Model;
@model Product
@{
    ViewBag.Title = Model.Name;
}


<div class="productdiv">
    <table>
        <tr>
            <td id="image">
                @if (Model.Image != null)
                {
                    <img width="200" height="200" src="@Model.Image" />
                }
                @if (Model.Image == null)
                {
                    <img width="200" src="~/Content/Image/default_image.png" />
                }
            </td>
            <td id="info">
                <h1>@Model.Name</h1>

            </td>
        </tr>
    </table>
    <div>
        <h2>Info</h2>
        <p>@Model.Info</p>
    </div>
    @if (ViewBag.Check != null)
    {
        if (ViewBag.Check)
        {
            <div>
                <h3>You bought this goods!</h3>
            </div>
        }
        else
        {
            <div>
                <h2 style="color: red;">Enter smaller coast!</h2>
            </div>
            @Html.Action("CoastPartialView", "Product", new {productId = Model.Id})
        }
    }
    else
    {
        @Html.Action("CoastPartialView", "Product", new { productId = Model.Id })
    }
</div>