@using Core.Model;
@model List<Product>


@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <h2>@item.Id</h2>
    <h3>@item.Name</h3>
    <h3>@item.Time.Hours : @item.Time.Minutes</h3>
}


@using (Ajax.BeginForm("Search", new AjaxOptions
{
    UpdateTargetId = "search",
    InsertionMode = InsertionMode.Replace
}))
{
    @Html.TextBox("productName")
    <br />
    <input type="submit" value="Search"/>
}

    <div id="search"></div>