@using Reverse_Shop.Models;
@model FullRegistrationModel
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

<form action="@Url.Action("FullRegistration", "User")" method="post">
    <table>
        <tr>
            <td>@Html.LabelFor(u => u.FirstName)</td>
            <td>@Html.TextBoxFor(u => u.FirstName,new{@class="text"})</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.SecondName)</td>
            <td>@Html.TextBoxFor(u => u.SecondName, new { @class = "text" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.Phone)</td>
            <td>@Html.TextBoxFor(u => u.Phone, new { @class = "text" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.Email)</td>
            <td>@Html.TextBoxFor(u => u.Email, new { @class = "text" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.Password)</td>
            <td>@Html.TextBoxFor(u => u.Password, new { placeholder = "Password", type = "password",@class="text" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.ConfirmPassword)</td>
            <td>@Html.TextBoxFor(u => u.ConfirmPassword, new { placeholder = "Confirm password", type = "password",@class="text" })</td>
        </tr>
    </table>
        <input type="submit" value="Registration" class="submit"/>
    
</form>
