@using Core.Model
@model List<Product>

<section>
    <ul id="da-thumbs" class="da-thumbs">
        @foreach (var item in Model)
        {
            <li>
                <a href="@item.Name" >
                    @if (item.Image != null)
                    {
                        <img width="200" height="200" src="@item.Image" />
                    }
                    @if (item.Image == null)
                    {
                        <img width="200" src="~/Content/Image/default_image.png" />
                    }
                    <div>
                        <span>@item.Name</span>
                        <p class="indoinput">@item.Info</p>
                    </div>
                </a>
            </li>
        }
    </ul>
</section>
@{ List<object> pageCounter = ViewBag.pageCounter;}
<div class="jogger">
    <span>
        @Ajax.ActionLink("<", "Page", new { page = 1 }, new AjaxOptions
            {
                UpdateTargetId = "containerindex",
                InsertionMode = InsertionMode.Replace
            })
    </span>
    @foreach (var item in pageCounter)
    {
        if (item == "...")
        {
            <span>...</span>
        }
        else
        {
            <span>
                @Ajax.ActionLink(item.ToString(), "Page", new { page = item }, new AjaxOptions
            {
                UpdateTargetId = "containerindex",
                InsertionMode = InsertionMode.Replace
            })
            </span>
        }
    }
    <span>
        @Ajax.ActionLink(">", "Page", new { page = ViewBag.count }, new AjaxOptions
        {
            UpdateTargetId = "containerindex",
            InsertionMode = InsertionMode.Replace
        })
    </span>
</div>

<script type="text/javascript">
    $(function () {

        $("#da-thumbs > li").hoverdir({
            hoverDelay: 150

        });

    });
</script>