@using Reverse_Shop.Models;
@model PasswordModel
           @if (ViewBag.Check != null)
           {
               if (ViewBag.Check)
               {
                   <div>
                       <h3>Password Change!</h3> 
                   </div>
               }
               else
               {
                   <div>
                       <h3>Password doesn't Change!</h3> 
                   </div>
               }
           }
<div>
    @using (Html.BeginForm("ChangePassword", "User"))
    {
        <a onclick=" document.getElementById('password').style.display = 'none'; return false; " title="Close" class="close">X</a>
        <table>
            <tr>
                <td>@Html.LabelFor(p => p.OldPassword)</td>
                <td>@Html.TextBoxFor(p => p.OldPassword, new { placeholder = "Password", type = "password", @class = "text" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(p => p.Password)</td>
                <td>@Html.TextBoxFor(p => p.Password, new { placeholder = "Password", type = "password", @class = "text" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(p => p.ConfirmPassword)</td>
                <td>@Html.TextBoxFor(p => p.ConfirmPassword, new { placeholder = "Confirm password", type = "password", @class = "text" })</td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Change" class="submit" />
    }
</div>
