@using Reverse_Shop.Models;
@model ProductModel

<h1>Create Product</h1>
<h3>Please, fill this area!</h3>
<div id="saveProduct">
    @using (Ajax.BeginForm("ProductSavePartialView",new AjaxOptions
    {
        UpdateTargetId = "saveProduct",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <table>
            <tr>
                <td>@Html.LabelFor(p => p.Name)</td>
                <td>@Html.TextBoxFor(p => p.Name, new { @class = "text" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(p => p.Info)</td>
                <td>@Html.TextAreaFor(p => p.Info, new { @class = "textarea" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(p => p.Category)</td>
                <td>@Html.TextBoxFor(p => p.Category, new { @class = "text" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(p => p.Time)</td>
                <td>@Html.TextBoxFor(p => p.Time, new { @class = "text" }) h.</td>
            </tr>
        </table>
    <input type="submit" value="Save" class="submit" />
    }
</div>

