@using Core.Model;
@model List<Product>

<table class="simple-little-table" cellspacing='0'>
    <tr>
        <th>Name </th>
        <th>Curent Coast</th>
        <th>Info</th>
        <th>Time to end</th>
        <th>Category</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr><!-- Table Header -->
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Coast</td>
                <td>@item.Info</td>
                <td>@item.Time.Hours:@item.Time.Minutes</td>
                <td>@item.Category</td>
                <td><a href="../@item.Name">@item.Name</a></td>
                <td><a href="#" >@Ajax.ActionLink("Edit", "EditProductView", "Product", new { productName = item.Name.Trim(' ')}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "edit" },
                new { onclick = "document.getElementById('edit').style.display = 'block';return false;" })</a></td>
                <td>@Html.ActionLink("Delete", "DeleteProduct", "Product", new { productId = item.Id }, new { })</td>
            </tr>
            <!-- Table Row -->
        }
    }
</table>
<div id="edit">
   
</div>