@using Core.Model;
@model User
           @if (ViewBag.Check!=null)
           {
               if (ViewBag.Check)
               {
                   <div>
                       <h3>Changes Save!</h3>
                   </div>
               }
               else
               {
                <div>
                    <h3>Changes doesn't Save!</h3>
                </div>
               }
           }
@using (Html.BeginForm("UpdateUser", "User"))
{
    <input type="hidden" name="Id" value="@Model.Id"/>
    <div>
        <span>
            @Html.LabelFor(u => u.FirstName) 
    </span> 
        @Html.TextBoxFor(u => u.FirstName)
    </div>
    <div>
        <span>
            @Html.LabelFor(u => u.SecondName) 
        </span>
        @Html.TextBoxFor(u => u.SecondName)
</div>
    <div>
        <span>Email : </span><span>@Model.Email </span>
</div>
    <div>
        <span>
            @Html.LabelFor(u => u.Phone) 
            </span>
                @Html.TextBoxFor(u => u.Phone)
</div>
    
    <input type="submit" value="Save"/>
}
